---
# roles/ipsec-config/tasks/main.yml

- name: Configure ipsec.conf
  template:
    src: ipsec.conf.j2
    dest: /etc/ipsec.conf
    mode: '0644'
  notify: restart strongswan

- name: Configure ipsec.secrets
  template:
    src: ipsec.secrets.j2
    dest: /etc/ipsec.secrets
    mode: '0600'
  notify: restart strongswan

- name: Flush handlers to restart StrongSwan
  meta: flush_handlers

- name: Wait for StrongSwan to restart
  wait_for:
    timeout: 10

- name: Check IPsec status
  command: ipsec status
  register: ipsec_status
  changed_when: false
  failed_when: false

- name: Display IPsec status
  debug:
    var: ipsec_status.stdout_lines
