# {{ ansible_managed }}
# StrongSwan IPsec configuration for Azure VPN Gateway

config setup
  charondebug="ike {{ strongswan_debug_level }}, knl {{ strongswan_debug_level }}, cfg {{ strongswan_debug_level }}, net {{ strongswan_debug_level }}, esp {{ strongswan_debug_level }}, dmn {{ strongswan_debug_level }}, mgr {{ strongswan_debug_level }}"
  uniqueids=never

conn azure-s2s
  type=tunnel
  auto=start
  keyexchange=ikev2
  authby=secret
  
  # Local (on-premises simulated)
  left=%defaultroute
  leftid=%any
  leftsubnet={{ onprem_vnet_cidr }}
  
  # Remote (Azure VPN Gateway)
  right={{ azure_vpn_gateway_ip }}
  rightsubnet={{ azure_vnet_cidr }}
  
  # IKE/ESP parameters compatible with Azure
  ike={{ ike_encryption }}-{{ ike_integrity }}-{{ ike_dhgroup }}!
  esp={{ esp_encryption }}-{{ esp_integrity }}!
  
  # Dead Peer Detection
  dpdaction=restart
  dpddelay={{ strongswan_dpddelay }}s
  dpdtimeout={{ strongswan_dpdtimeout }}s
  
  # Rekeying
  keyingtries=%forever
  ikelifetime={{ ike_lifetime }}
  lifetime={{ sa_lifetime }}
  margintime=540s
