# ==============================================================================
# Secrets IPsec pour StrongSwan
# Généré par Ansible - CONFIDENTIEL
# ==============================================================================

# PSK pour le tunnel Azure
{{ ansible_default_ipv4.address }} {{ azure_vpn_gateway_ip }} : PSK "{{ ipsec_psk }}"
