---
# playbook.yml - Configuration StrongSwan avec Ansible

- name: Configure StrongSwan IPsec VPN
  hosts: strongswan
  become: yes
  gather_facts: yes

  vars_files:
    - group_vars/strongswan.yml

  pre_tasks:
    - name: Wait for cloud-init to finish
      command: cloud-init status --wait
      changed_when: false

    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

  roles:
    - strongswan
    - ipsec-config
    - test-scripts

  post_tasks:
    - name: Display connection information
      debug:
        msg:
          - "StrongSwan configuration complete!"
          - "Azure VPN Gateway IP: {{ azure_vpn_gateway_ip }}"
          - "On-Premises Network: {{ onprem_vnet_cidr }}"
          - "Azure Network: {{ azure_vnet_cidr }}"
          - ""
          - "To test the connection:"
          - "  sudo ipsec status"
          - "  sudo /usr/local/bin/test-ipsec.sh"
