---
# roles/fortigate-ipsec-bgp/tasks/main.yml

- name: Configure IPsec Phase1 interface to Azure
  fortios_vpn_ipsec_phase1_interface:
    vdom: "root"
    state: "present"
    vpn_ipsec_phase1_interface:
      name: "{{ tunnel_name }}"
      type: "static"
      interface: "{{ wan_interface }}"
      ike_version: 2
      peertype: "any"
      net_device: "disable"
      mode_cfg: "disable"
      proposal: "aes256-sha256"
      dhgrp: "14"
      nattraversal: "enable"
      remote_gw: "{{ azure_vpn_gateway_ip }}"
      psksecret: "{{ ipsec_psk }}"
      dpd: "on-demand"
      dpd_retrycount: 3
      dpd_retryinterval: 5
  delegate_to: localhost

- name: Configure IPsec Phase2 interface
  fortios_vpn_ipsec_phase2_interface:
    vdom: "root"
    state: "present"
    vpn_ipsec_phase2_interface:
      name: "{{ tunnel_name }}-p2"
      phase1name: "{{ tunnel_name }}"
      proposal: "aes256-sha256"
      dhgrp: "14 5"
      pfs: "enable"
      replay: "enable"
      keepalive: "enable"
      auto_negotiate: "enable"
      keylife_type: "seconds"
      keylifeseconds: 27000
  delegate_to: localhost

- name: Create tunnel interface
  fortios_system_interface:
    vdom: "root"
    state: "present"
    system_interface:
      name: "{{ tunnel_name }}"
      type: "tunnel"
      remote_ip: "{{ bgp_peer_ip | regex_replace('/.*', '') }}"
      interface: "{{ wan_interface }}"
      allowaccess: "ping"
  delegate_to: localhost

- name: Configure BGP router
  fortios_router_bgp:
    vdom: "root"
    state: "present"
    router_bgp:
      as: "{{ bgp_asn }}"
      router_id: "{{ fortigate_public_ip }}"
      keepalive_timer: 60
      holdtime_timer: 180
      ibgp_multipath: "disable"
      ebgp_multipath: "enable"
      graceful_restart: "enable"
      neighbor:
        - ip: "{{ azure_bgp_peer_ip }}"
          remote_as: "{{ azure_bgp_asn }}"
          soft_reconfiguration: "enable"
          route_map_in: "RM-AZURE-IN"
          route_map_out: "RM-AZURE-OUT-{{ fortigate_role | upper }}"
          interface: "{{ tunnel_name }}"
          update_source: "{{ tunnel_name }}"
          connect_timer: 30
          advertisement_interval: 30
          ebgp_enforce_multihop: "disable"
      network:
        - id: 1
          prefix: "{{ local_network_cidr }}"
  delegate_to: localhost

- name: Configure inbound route-map (from Azure)
  fortios_router_route_map:
    vdom: "root"
    state: "present"
    router_route_map:
      name: "RM-AZURE-IN"
      rule:
        - id: 10
          action: "permit"
          set_local_preference: "{{ bgp_local_preference }}"
  delegate_to: localhost

- name: Configure outbound route-map for PRIMARY (RBX - no prepend)
  fortios_router_route_map:
    vdom: "root"
    state: "present"
    router_route_map:
      name: "RM-AZURE-OUT-PRIMARY"
      rule:
        - id: 10
          action: "permit"
          # Pas de AS-PATH prepend pour la route primaire
  delegate_to: localhost
  when: fortigate_role == "primary"

- name: Configure outbound route-map for BACKUP (SBG - with prepend)
  fortios_router_route_map:
    vdom: "root"
    state: "present"
    router_route_map:
      name: "RM-AZURE-OUT-BACKUP"
      rule:
        - id: 10
          action: "permit"
          set_aspath:
            - "{{ bgp_asn }}"
            - "{{ bgp_asn }}"
            - "{{ bgp_asn }}"
  delegate_to: localhost
  when: fortigate_role == "backup"

- name: Configure firewall policy for Azure traffic
  fortios_firewall_policy:
    vdom: "root"
    state: "present"
    firewall_policy:
      policyid: "{{ policy_id }}"
      name: "Allow-Azure-{{ fortigate_role | upper }}"
      srcintf:
        - name: "{{ lan_interface }}"
      dstintf:
        - name: "{{ tunnel_name }}"
      srcaddr:
        - name: "all"
      dstaddr:
        - name: "all"
      action: "accept"
      schedule: "always"
      service:
        - name: "ALL"
      logtraffic: "all"
      nat: "disable"
  delegate_to: localhost

- name: Configure firewall policy from Azure
  fortios_firewall_policy:
    vdom: "root"
    state: "present"
    firewall_policy:
      policyid: "{{ policy_id | int + 1 }}"
      name: "From-Azure-{{ fortigate_role | upper }}"
      srcintf:
        - name: "{{ tunnel_name }}"
      dstintf:
        - name: "{{ lan_interface }}"
      srcaddr:
        - name: "all"
      dstaddr:
        - name: "all"
      action: "accept"
      schedule: "always"
      service:
        - name: "ALL"
      logtraffic: "all"
      nat: "disable"
  delegate_to: localhost

- name: Configure static route to Azure via tunnel
  fortios_router_static:
    vdom: "root"
    state: "present"
    router_static:
      seq_num: "{{ static_route_seq }}"
      dst: "{{ azure_vnet_cidr }}"
      device: "{{ tunnel_name }}"
      distance: 1
      comment: "Route to Azure VNet via IPsec tunnel"
  delegate_to: localhost
